{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>главная</title>
    <link rel="stylesheet", href="{% static  'style.css'%}">

</head>
<body>

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">учебный вебсайт  на джанго</a></h3>
    <div class="intro"> <a href="#">Практика</a> </div>
  </div>
  <div class="card-info">
    этот сайт придоставляет вам  информации  он   культуры  разных стран
    <a href="http://127.0.0.1:8000/next_to_page/">Далее<span class="licon icon-arr icon-black"></span></a>
  </div>
  <div class="utility-info">
    <ul class="utility-list">

      <li><span class="licon icon-com"></span><a href="#">12</a></li>
      <li><span class="licon icon-dat"></span>29 jun 2026</li>

    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->


</body>
</html>