{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>

<form class="form" method="POST">
    {% csrf_token %}

    <p class="title">Вход</p>


    <p class="message">
        {% if messages %}
            {% for message in messages %}
                {{ message }}

                {% if message.tags == "success" %}
                    <script>
                        setTimeout(function() {
                            window.location.href = "/next_to_page/";
                        }, 3000);
                    </script>
                {% endif %}
            {% endfor %}
        {% else %}
            можете войти если есть аккаунт
        {% endif %}
    </p>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <label>
        <input class="input" type="email" name="email" required>
        <span>введите Email</span>
    </label>

    <label>
        <input class="input" type="password" name="password" required>
        <span>введите пароль</span>
    </label>

    <button class="submit" type="submit">Вход</button>

    <p class="signin">
        если нет аккаунта можете зарегистрироваться
        <a href="/users/register/">Регистрация</a>
    </p>

</form>

</body>
</html>
