{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>

<form class="form" method="POST">
    {% csrf_token %}

    <p class="title">Регистрация</p>
    <p class="message">Создайте  аккаунт пройдя регистрацию</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="flex">
        <label>
            <input class="input" type="text" name="first_name" required>
            <span>введите имя</span>
        </label>

        <label>
            <input class="input" type="text" name="last_name" required>
            <span>введите фамилию</span>
        </label>
    </div>

    <label>
        <input class="input" type="email" name="email" required>
        <span>введите Email</span>
    </label>

    <label>
        <input class="input" type="password" name="password1" required>
        <span>введите пароль</span>
    </label>

    <label>
        <input class="input" type="password" name="password2" required>
        <span>повторите введенный пароль</span>
    </label>

    <button class="submit" type="submit">Зарегистрироваться</button>

    <p class="signin">
        если есть аккаунт можете войти
        <a href="http://127.0.0.1:8000/users/login/">Вход</a>
    </p>

</form>

</body>
</html>
